nav{
    height: 50px;
    width: auto;
    background: linear-gradient(#151515,#424040);
    align-items: center;
    justify-content: center;
    display: flex;
    
}

nav a{
    margin-left: 80px;
    font-size: 16px;
    padding: 10px 18px;
    color: #17f108;
    font-family: sans-serif;
    border-radius: 5px;
    text-decoration:none;

}

nav a:hover{
    background-color: #5d88d5;
}
nav a:active{
    background-color: #000;
    
}

