.team-container{
    height: 2000PX;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color:#9d9d9d ;
    background-size: 300% 300%;
    
}
@keyframes colors{
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-size: 0 85%;
    }
}

.box{
    height: 350px;
    width: 350px;
    margin-left: 8%;
    margin-top: 100px;
}

img{
    height: 350px;
    width: 350px;
   
}

button{
    padding: 0;

    height: 350px;
    width: 350px;
    background-color:#2b304f;
}